node_modules/
dist/
dist-ssr/

logs
*.log
npm-debug.log*
pnpm-debug.log*

coverage/
playwright-report/
test-results/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
