[Unit]
Description=Technical Rider Editor
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/rider-editor:latest

# Network setup
Network=<network name>
# OR
#PublishPort=<interface>:<port>:<port>

ContainerName=rider-editor
RunInit=yes
NoNewPrivileges=yes

[Service]
Restart=always
TimeoutStopSec=30s
TimeoutStartSec=60s

[Install]
WantedBy=multi-user.target default.target
